enable=all
source-path=SCRIPTDIR
external-sources=true
disable=SC1071
disable=SC1090
disable=SC1091
disable=SC2001
disable=SC2016
disable=SC2030
disable=SC2031
disable=SC2034
disable=SC2119
disable=SC2120
disable=SC2148
disable=SC2154
disable=SC2155
disable=SC2249
disable=SC2292
disable=SC2310
disable=SC2311
disable=SC2312
disable=SC2044
disable=SC2317
disable=SC2139
